h1 {
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
}

#entered-city {
  font-size: larger;
}

#weather-app {
  max-width: 600px;
  margin: 30 px auto;

  padding: 20px 10px 20px 10px;
  border: 1px solid #a7a6a7;
  border-radius: 5px;
}
