body {
  font-family: "Mate SC", serif;
}
h1 {
  padding: 10px;
}

.container {
  position: relative;
}

.container:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("https://images.pexels.com/photos/6331082/pexels-photo-6331082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.whole-app {
  position: relative;
  max-width: 500px;
}

#weather-icon {
  display: block;
  margin: 0 auto;
}

#entered-city {
  font-size: calc(1.3rem + 0.6vw);
}
