h1 {
  padding: 10px;
}

#weather-icon {
  display: block;
  margin: 0 auto;
}

#entered-city {
  font-size: calc(1.3rem + 0.6vw);
}

#weather-app {
  max-width: 500px;
  margin: 30 px auto;

  padding: 20px 10px 20px 10px;
  border: 1px solid #a7a6a7;
  border-radius: 5px;
}
